@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Noto Sans Lao", sans-serif;
}

.webcardbg {
  background: #1a67a3;
}

.webcardbg:hover {
  background: #2082cc;
}
