<div class="container">
  <h1 class="text-center mt-4">ພະນັກງານ ວຕວຫຼບ</h1>
  <div class="d-flex my-3 justify-content-center gap-2">
    <div>
      <label for="" class="form-label">ພະແນກ-ພາກວິຊາ</label>
      <select class="form-select" id="cbDepartment"></select>
    </div>
  </div>
  <table class="table table-bordered table-hover table-responsive" id="tbEmployee">
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">ຊຶ່ ແລະ ນາມສະກຸນ</th>
        <th scope="col" class="text-center">ພະແນກ-ພາກວິຊາ</th>
        <th scope="col" class="text-center">ເບີໂທ</th>
      </tr>
    </thead>
    <tbody id="tableData">
      <tr>
        <td colspan="4" class="text-center">
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </td>
      </tr>
    </tbody>
  </table>
</div>
