<div class="container">
  <h1 class="text-center mt-4">ໜ້າຫຼັ້ກ</h1>
  <div id="website" class="mt-4 d-flex flex-wrap gap-1 justify-content-sm-center justify-content-xl-center">
    <span class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
    <span class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
    <span class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
    <span class="text-primary">ກຳລັງໂຫຼດຂໍ້ມູນ...</span>
  </div>
</div>