<div class="container">
    <h1 class="text-center">ເຄົາລົບທູງ</h1>
    <form id="frmsearch" class="d-flex justify-content-sm-start justify-content-md-center my-3 gap-2 flex-wrap">
        <div class="col-12 col-xl-4">
            <select class="form-select" id="cbDepartment" required>

            </select>
        </div>
        <div class="col-9 col-xl-2">
            <input type="date" name="" class="form-control col-2" id="txtdate" required>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">ຄົ້ນຫາ</button>
        </div>
    </form>
    <table class="table table-bordered table-hover" id="tbEmployee">
        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">ຊຶ່ ແລະ ນາມສະກຸນ</th>
                <th scope="col" class="text-center">ພະແນກ-ພາກວິຊາ</th>
                <th scope="col" class="text-center">ສະຖານະ</th>
            </tr>
        </thead>
        <tbody id="tableData">
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </td>
            </tr>
        </tbody>
    </table>
</div>