<div class="container">
    <h1 class="text-center py-3">ວຽກປະຈຳອາທິດ</h1>
    <table class="table table-bordered table-hover table-responsive" id="tbworkweek">
        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">ລາຍການໜ້າວຽກ</th>
                <th scope="col" class="text-center">ພະແນກ-ພາກວິຊາ</th>
                <th scope="col" class="text-center">ເລີ່ມວັນທີ່/ຈຳນວນມື້</th>
                <th scope="col" class="text-center">ສະຖານະ</th>
            </tr>
        </thead>
        <tbody id="tableData">
            <tr>
                <td colspan="5" class="text-center">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </td>
            </tr>
        </tbody>
    </table>
</div>